@using System.Collections
@using ReviewsApp.Code
@using ReviewsApp.Models
@using WebGrease.Css.Extensions
@{
    ViewBag.Title = "Home Page";
}

<br/><br/><br/><br/>
<div align="center">
    @using (Html.BeginForm("ProductSearchResults", "Home", FormMethod.Post))
    {
        @Html.TextBox("SearchText")

            var productTypes = AppUtilities.GetEnumValues<Product.ProductType>();
            var dropDownList = new List<SelectListItem>();

            productTypes.ForEach(productType => dropDownList.Add(
                new SelectListItem
                {
                    Text = productType.ToString(),
                    Value = productType.ToString()
                }));
            <div style="width:5px; height:auto; display:inline-block;">                   
        @Html.DropDownList("ProductType", dropDownList)
        </div>
        <br/><br/>

        <input type="submit" value="Search" />
    }

</div>